{% if craft.amNav.getNavRaw("aside") is defined %}
    <nav class="nav nav--top cf">
        <ul>
            {% set nav = craft.amNav.getNavRaw("aside") %}
            {% for node in nav %}
                <li><a href="{{ node.url }}" class="{{ globalMacro.is_active(node.url) }} {{ node.listClass }}" {% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a></li>
            {% endfor %}

        </ul>
    </nav>
{% endif %}
