// Core variables and mixins
@import 'core/normalize';

@import 'core/variables';
@import 'core/animations';
@import 'core/mixins';

@import 'core/scaffold';
@import 'core/grid';
@import 'core/type';
@import 'core/buttons';
@import 'core/lists';
@import 'core/tables';
@import 'core/links';
@import 'core/fonts';
@import 'core/forms';
@import 'core/images';

// Components
@import 'components/main';
@import 'components/section';
@import 'components/spacer';
@import 'components/inline';
@import 'components/meta';
@import 'components/breadcrumbs';

@import 'components/block';
@import 'components/card';
@import 'components/hero';
@import 'components/pagination';
@import 'components/label';
@import 'components/search';
@import 'components/flyout';

@import 'components/header';
@import 'components/footer';
@import 'components/nav';

// @import 'components/assets';
// @import 'components/navbar';
@import 'components/map';
// @import 'components/download';
// @import 'components/gallery';
// @import 'components/carousel';
// @import 'components/dropdown';
@import 'components/tabs';
// @import 'components/button-group';

// Helpers
@import 'core/helpers';

// Print
@import 'core/print';

// Banner homepage

.hero__title{
  background-color: #012b5f;
  //background: rgba(23, 70, 123, 0.95);
  padding: 25px 35px;
  font-weight: 400;
  display: inline-block;
  font-size: 2.4em;
  margin: 0 50px;
  color: #fff;

}
.hero__body{

  background-color: #eb6d12;
  //background: rgba(233, 93, 15, 0.95);
  max-width: 470px;
  padding: 20px;
  padding-top: 25px;
  margin: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  overflow: auto;
  a{
    color:#fff;
    text-decoration: none;
    background-color: #012b5f;
    text-transform: uppercase;
    padding: 8px 25px;
  }

}


//Nieuws overzicht
.news:first-child{
  border-top: 1px solid lightgrey;
}

.news .grid__item{
  border-bottom: 1px solid lightgrey;

  .card__img img{

    //width:10%;
    //height: auto;
    border-radius: 50%;
  }

}







