// Core variables and mixins
@import 'core/normalize';

@import 'core/variables';
@import 'core/animations';
@import 'core/mixins';

@import 'core/scaffold';
@import 'core/grid';
@import 'core/type';
@import 'core/buttons';
@import 'core/lists';
@import 'core/tables';
@import 'core/links';
@import 'core/fonts';
@import 'core/forms';
@import 'core/images';

// Components
@import 'components/main';
@import 'components/section';
@import 'components/spacer';
@import 'components/inline';
@import 'components/meta';
@import 'components/breadcrumbs';

@import 'components/block';
@import 'components/card';
@import 'components/hero';
@import 'components/pagination';
@import 'components/label';
@import 'components/search';
@import 'components/flyout';

@import 'components/header';
@import 'components/footer';
@import 'components/nav';

// @import 'components/assets';
// @import 'components/navbar';
@import 'components/map';
// @import 'components/download';
// @import 'components/gallery';
// @import 'components/carousel';
// @import 'components/dropdown';
@import 'components/tabs';
// @import 'components/button-group';

// Helpers
@import 'core/helpers';

// Print
@import 'core/print';



//Nieuws overzicht
.news:first-child{
  border-top: 1px solid lightgrey;
}
.news_title{

  padding-top: 24px;
}

.news_item{
  border-bottom: 1px solid lightgrey;
  color: $color-primary;
  margin-top: 0;
  padding-top: 14px;
  padding-bottom: 10px;
}
.news_item:hover{

  background-color: #f1f1f1;
  text-decoration-line: underline;

}
.news .grid__item{

  .card__img img{

    //width:10%;
    //height: auto;
    border-radius: 50%;
  }

}
.btn span{
     width: 0px;
     height: 0px;
     display: inline-block;
     border: solid 6px white;
     border-color: transparent transparent transparent white;
     margin-left: 15px;
     margin-right: -6px;
 }

//Huizen overzicht

.house:first-child{
  border-top: 1px solid lightgrey;
}

.house .grid__item {
  border-bottom: 1px solid lightgrey;
}
.house{

 h1, h2, h3{

    color: $color-primary;
    font-weight: $font-weight-light;
  }
}






