$hero-min-height: 350px;
$hero-text-width: 750px;

%ext-hero-elements {
  position: relative;
  max-width: $hero-text-width;
  z-index: $zindex-layer-1;
}

.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  padding: ($rh-xlr * 2) 0;
  color: $black;
  min-height: $hero-min-height;

  .hero__title{
    background-color: $color-primary;
    //background: rgba(23, 70, 123, 0.95);
    padding: 25px 35px;
    font-weight: 400;
    display: inline-block;
    //font-size: 2.4em;
    margin: 0;
    color: #fff;
    max-width: 470px;

  }
  .hero__body{

    background-color: $color-secondary;
    //background: rgba(233, 93, 15, 0.95);
    max-width: 445px;
    padding: 20px;
    padding-top: 25px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    overflow: auto;
    a{
      color:#fff;
      text-decoration: none;
      background-color: #012b5f;
      text-transform: uppercase;
      padding: 8px 25px;
    }

  }

  &:before {
    @include absolute-fill;
    content: ' ';
    background: rgba($black, .35);
  }
  &__title {
    @extend %ext-hero-elements;
    @include fsRem($font-size-h2);
    color: $black;
  }
  &__body {
    @extend %ext-hero-elements;
    @include fsRem($font-size-base);
    color: $black;
  }
  &__cta {
    @extend %ext-hero-elements;
    margin-top: $rh-sml;
  }

  // Modifier
  &--light {
    color: $white;
    .hero__title,
    .hero__body {
      color: $white;
    }
  }
}
